 .padding{
  padding-top:10px;
  padding-bottom:10px;
}
.margin{
  margin-top:10px;
  margin-bottom:10px;
}
.table {
  display: table;
  padding:5px;
  background-color: #e6e8fe;
}
.table-row {
  padding:5px;
  display: table-row;
}
.table-cell {
  display: table-cell;
}
