<hr />
<h2>Debug-Information</h2>
<a href="http://localhost:8888/moodle33/mod/exammanagement/index.php">Testlink zu index.php</a>
<pre>
    <br> id: {{id}}
    <br> cm: {{cm}}
    <br> course: {{course}}
    <br> moduleinstance: {{moduleinstance}}
    <br> firststagecompleted: {{firststagecompleted}} {{^firststagecompleted}} 0 {{/firststagecompleted}}
</pre>
