<h2>Debug-Information</h2>
<p>Datum der Prüfung (Tag, Monat, Jahr)</p>

<form action="" method="post">
  <div class="form-group">
    <label for="set_date">Datum</label>
    <input type="date" class="form-control" id="set_date" aria-describedby="date" placeholder="Datum eingeben" value="{{date}}">
  </div>
  <div class="form-group">
    <label for="set_time">Zeit</label>
    <input type="time" class="form-control" id="set_time" placeholder="Zeit eingeben" value="{{time}}">
  </div>
  <button type="submit" class="btn btn-primary">Datum und Zeit festlegen</button>
</form>

{{pageurl}}
