{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template exammanagement/exammanagement_overview

    Example context (json):
    {
        "comment": "Example comment for the context"
    }
}}

   <div class = "container-fluid">
      <h4 class = "m-y-1">{{#str}}examinformation, mod_exammanagement{{/str}}</h4>

      <div class = "row">
          <p class = "col-xs-6">
              <strong>{{#str}}state, mod_exammanagement{{/str}}:</strong>
          </p>
          <div class="col-xs-6">
            {{#isparticipant}}<p>{{#str}}added_to_exam, mod_exammanagement{{/str}}</p>{{/isparticipant}}
            {{^isparticipant}}<p>{{#str}}no_participant, mod_exammanagement{{/str}}</p>{{/isparticipant}}
          </div>
      </div>
      {{#isparticipant}}
      <div class = "row">
          <p class = "col-xs-6">
              <strong>{{#str}}date, mod_exammanagement{{/str}}:</strong>
          </p>
          <div class="col-xs-6">
            {{#examdate}}<p>{{examdate}} <i class="fa fa-calendar" aria-hidden="true"></i></p>{{/examdate}}
            {{^examdate}}<p>{{#str}}no_date_entered, mod_exammanagement{{/str}}</p>{{/examdate}}
          </div>
      </div>
      <div class = "row">
          <p class = "col-xs-6">
              <strong>{{#str}}time, mod_exammanagement{{/str}}:</strong>
          </p>
          <div class="col-xs-6">
            {{#examtime}}<p>{{examtime}} <i class="fa fa-clock-o" aria-hidden="true"></i></p>{{/examtime}}
            {{^examtime}}<p>{{#str}}no_time_entered, mod_exammanagement{{/str}}</p>{{/examtime}}
          </div>
      </div>
      <div class = "row">
          <p class = "col-xs-6">
              <strong>{{#str}}room, mod_exammanagement{{/str}}:</strong>
          </p>
          <div class="col-xs-6">
            {{#room}}<p>{{room}} <i class="fa fa-building-o" aria-hidden="true"></i></p>{{/room}}
            {{^room}}<p>{{#str}}no_room_assigned, mod_exammanagement{{/str}}</p>{{/room}}
          </div>
      </div>
      <div class = "row">
          <p class = "col-xs-6">
              <strong>{{#str}}seat, mod_exammanagement{{/str}}:</strong>
          </p>
          <div class="col-xs-6">
            {{#place}}<p>{{place}}</p>{{/place}}
            {{^place}}<p>{{#str}}no_seat_assigned, mod_exammanagement{{/str}}</p>{{/place}}
          </div>
      </div>
      <div class = "row">
          <p class = "col-xs-6">
              <strong>{{#str}}hint, mod_exammanagement{{/str}}:</strong>
          </p>
          <div class="col-xs-6">
            {{#textfield}}
                {{{textfield}}}
            {{/textfield}}
            {{^textfield}}{{#str}}no_exam_hint, mod_exammanagement{{/str}}{{/textfield}}
          </div>
      </div>
      <hr />
      <div class = "row">
          <p class = "col-xs-6">
              <strong>{{#str}}bonus_for_exam, mod_exammanagement{{/str}}:</strong>
          </p>
          <div class="col-xs-6">
            {{#bonus}}
                {{#str}}bonus_for_exam_added_one, mod_exammanagement{{/str}}<strong> {{{bonus}}}</strong> {{#str}}bonus_for_exam_added_two, mod_exammanagement{{/str}}
            {{/bonus}}
            {{^bonus}}{{#str}}bonus_for_exam_not_added, mod_exammanagement{{/str}}{{/bonus}}
          </div>
      </div>
      {{#examreviewtime}}
      <hr />
      <div class = "row">
          <p class = "col-xs-6">
              <strong>{{#str}}exam_review, mod_exammanagement{{/str}}:</strong>
          </p>
          <div class="col-xs-6">            
              {{#str}}exam_review_one, mod_exammanagement{{/str}} <strong>{{examreviewtime}}</strong> {{#str}}exam_review_two, mod_exammanagement{{/str}}<strong>{{examreviewroom}}</strong>.
          </div>
      </div>
      {{/examreviewtime}}
      {{/isparticipant}}
      {{/deleted}}
      {{#deleted}}
            <p>{{#str}}examdata_deleted_one, mod_exammanagement{{/str}} {{examdate}} {{#str}}examdata_deleted_two, mod_exammanagement{{/str}}</p>
      {{/deleted}}
      
</div>