{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template exammanagement/exammanagement_overview

    Example context (json):
    {
        "comment": "Example comment for the context"
    }
}}

{{#js}}

showMore = function() {

			helptextboxcontent = jQuery.find('.helptextboxcontent');
			helptextboxcontentheight = jQuery(helptextboxcontent).outerHeight();

			helptextbox = jQuery.find('.helptextbox');
			jQuery(helptextbox).css({
			      "height": jQuery(helptextbox).height(),
			      "max-height": 9999
			    })
			    .animate({
			      "height": helptextboxcontentheight
			    });


			readMore = jQuery.find('.read-more');
			jQuery(readMore).fadeOut();
			return false;	    
		};

ajaxtoogleInformation = function(command, value){

		if(command=='room'){
        jQuery.ajax ({
            url: './view.php',
            data: {'id': {{cmid}},'calledfromformroom': true, 'roomvisible': Number(value)},
            success: function(response) {
							$('.roomVisible').toggle();
							$('.roomNotVisible').toggle();
            },
            error: function(response) {
							alert('Fehler. Bitte erneut versuchen')
            }
        });
    } else if(command=='place'){
        jQuery.ajax ({
            url: './view.php',
            data: {'id': {{cmid}},'calledfromformplace': true, 'placevisible': Number(value)},
            success: function(response) {
							$('.placeVisible').toggle();
							$('.placeNotVisible').toggle();
            },
            error: function(response) {
							alert('Fehler. Bitte erneut versuchen')
            }
        });
    } else if(command=='datetime'){
        jQuery.ajax ({
            url: './view.php',
            data: {'id': {{cmid}},'calledfromformdt': true, 'datetimevisible': Number(value)},
            success: function(response) {
							$('.datetimeVisible').toggle();
							$('.datetimeNotVisible').toggle();
						},
            error: function(response) {
              alert('Fehler. Bitte erneut versuchen')
            }
        });
    }
};

ajaxtooglePhase = function(phase){
		$(phase).slideToggle("slow");;
		$(phase+'_maximize').toggle();
		$(phase+'_minimize').toggle();
}

addtask = function(){

		taskcount = getTaskCount();
		newtaskcount = taskcount+1;
		pointsofnewtask = 10;

		$(".form-group:nth-of-type(4) .col-md-9").append('<span class="task_spacing">' + newtaskcount + '</span>');
		$(".form-group:nth-of-type(5) .col-md-9").append('<div class="form-group  fitem  "><label class="col-form-label sr-only" for="id_task_' + newtaskcount + '"></label><span data-fieldtype="text"><input class="form-control" name="task[' + newtaskcount + ']" id="id_task_' + newtaskcount + '" value="' + pointsofnewtask + '" size="1" type="text"></span><div class="form-control-feedback" id="id_error_task[' + newtaskcount + ']" style="display: none;"></div></div> ');

		totalpoints = getTotalpoints();
		$("#totalpoints").text(totalpoints);
};

removetask = function(){
		taskcount = getTaskCount();

		if (taskcount > 1){
				$(".form-group:nth-of-type(4) .col-md-9 :last-child").remove();
				$(".form-group:nth-of-type(5) .col-md-9 .form-group:last").remove();

				totalpoints = getTotalpoints();
				$("#totalpoints").text(totalpoints);
		}
};

getTotalpoints = function(){
	var totalpoints = 0;

	$(".form-group input.form-control").each(function () {
				totalpoints += parseInt($(this).val());
		});

	return totalpoints;
}

getTaskCount = function(){
	var taskcount = 0;

	$(".form-group input.form-control").each(function () {
				taskcount += 1;
		});

	return taskcount;
}

$( ".form-group" ).on( "change", "input", function() {
  $("#totalpoints").text(getTotalpoints());
});

{{/js}}

   <div class="container-fluid">
      <div class="alert alert-info alert-dismissible fade in" role="alert">
          <div class="helptextbox">
    		      <div class="helptextboxcontent">
                  <div class="row">
                      <h4 class="alert-heading col-xs-11">{{#str}}helptext_str, mod_exammanagement{{/str}}</h4>
                      <button type="button" class="close col-xs-1" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <p>{{#str}}helptext_overview, mod_exammanagement{{/str}}</p>
                  <hr>
                  <p class="mb-0">{{#str}}helptext_link, mod_exammanagement{{/str}} <a href="https://hilfe.uni-paderborn.de/PANDA" class="alert-link" target="_blank">https://hilfe.uni-paderborn.de/PANDA</a></p>
                  <p class="read-more"><a href="#" onclick="return showMore()" class="button">Mehr lesen</a></p>
              </div>
          </div>
      </div>

      <h4 class="m-y-1">{{#str}}overview, mod_exammanagement{{/str}}</h4>

      <ul class="exmammanagement-summary list-unstyled">
          {{!before_exam}}
          <li class="item" id="beforeexam">
            {{#firstphasecompleted}}<i class="fa fa-check text-success" aria-hidden="true"></i>{{/firstphasecompleted}}
            {{^firstphasecompleted}}<i class="fa fa-fw" aria-hidden="true"></i>{{/firstphasecompleted}}
            <div class="panel panel-primary mainpanel">
              <div class="panel-heading">
								<a type="button" aria-expanded="false" onclick="ajaxtooglePhase('.phase_one'); return true;">
		                <h4>{{#str}}phase_one, mod_exammanagement{{/str}}</h4>
		                <span class="{{#firstphasecompleted}}collapse{{/firstphasecompleted}}{{^firstphasecompleted}}collapse.show{{/firstphasecompleted}} phase_one_minimize pull-right" title="Phase minimieren" aria-label="Phase minimieren"><i class="fa fa-minus" aria-hidden="true"></i></span>
										<span class="{{#firstphasecompleted}}collapse.show{{/firstphasecompleted}}{{^firstphasecompleted}}collapse{{/firstphasecompleted}} phase_one_maximize pull-right" title="Phase öffnen" aria-label="Phase öffnen"><i class="fa fa-plus" aria-hidden="true"></i></span>
								</a>
							</div>
                {{#firstphasecompleted}}<div class="collapse phase_one">{{/firstphasecompleted}}
                {{^firstphasecompleted}}<div class="collapse.show phase_one">{{/firstphasecompleted}}
                    <div class="panel-body">
                      <div class="row row-eq-height">
												<div class="col-md-6">
													<div class="panel {{#rooms}}panel-success{{/rooms}}{{^rooms}}panel-warning{{/rooms}}">
														<div class="panel-heading">
															<div class="row">
																<h3 class="panel-title col-md-6">Prüfungsräume</h3>
																<span class="statebar col-md-6">
																		{{#rooms}}<span class="label label-success pull-right"><i class="fa fa-check-circle" aria-hidden="true"></i><span class="hidden-md-down"> Erfolgreich</span></span>{{/rooms}}
																		{{^rooms}}<span class="label label-warning pull-right"><i class="fa fa-exclamation-triangle"></i><span class="hidden-md-down"> Nicht gesetzt</span></span>{{/rooms}}
																		<span class="label label-default pull-right"><i class="fa fa-exclamation" aria-hidden="true"></i><span class="hidden-md-down"> Zwingend</span></span>
																</span>
															</div>
														</div>
														<div class="panel-body">
																{{#rooms}}<p> Es wurden bereits die folgenden {{rooms}} Räume ausgewählt: {{roomnames}}</p>{{/rooms}}
																{{^rooms}}<p> Es wurden noch keine Räume für die Prüfung ausgewählt.</p>{{/rooms}}
														</div>
														<div class="panel-footer">
															<a class="btn btn-info" href="chooseRooms.php?id={{cmid}}">Räume auswählen</a>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="panel {{#hrexamtime}}panel-success{{/hrexamtime}}{{^hrexamtime}}panel-warning{{/hrexamtime}}">
														<div class="panel-heading">
															<div class="row">
																<h3 class="panel-title col-md-8">Prüfungsdatum</h3>
																<span class="statebar col-md-4">
																		{{#hrexamtime}}<span class="label label-success pull-right"><i class="fa fa-check-circle" aria-hidden="true"></i><span class="hidden-md-down"> Erfolgreich</span></span>{{/hrexamtime}}
																		{{^hrexamtime}}<span class="label label-warning pull-right"><i class="fa fa-exclamation-triangle"></i><span class="hidden-md-down"> Nicht gesetzt</span></span>{{/hrexamtime}}
																		<span class="label label-default pull-right"><i class="fa fa-exclamation" aria-hidden="true"></i><span class="hidden-md-down"> Zwingend</span>
																</span>
															</div>
														</div>
														<div class="panel-body">
															{{#hrexamtime}}<p> Die Prüfung findet am {{hrexamtime}} statt.</p>{{/hrexamtime}}
															{{^hrexamtime}}<p> Es wurden noch kein Datum und keine Uhrzeit für die Prüfung festgelegt.</p>{{/hrexamtime}}
														</div>
														<div class="panel-footer">
															<a class="btn btn-info" href="set_date_time.php?id={{cmid}}">Datum festlegen</a>
														</div>
													</div>
												</div>
											</div>
											<div class="row row-eq-height">
												<div class="col-md-6">
													<div class="panel {{#participants}}panel-success{{/participants}}{{^participants}}panel-warning{{/participants}}">
														<div class="panel-heading">
															<div class="row">
																<h3 class="panel-title col-md-8">Prüfungsteilnehmer</h3>
																<span class="statebar col-md-4">
																	{{#participants}}<span class="label label-success pull-right"><i class="fa fa-check-circle" aria-hidden="true"></i><span class="hidden-md-down"> Erfolgreich</span></span>{{/participants}}
																	{{^participants}}<span class="label label-warning pull-right"><i class="fa fa-exclamation-triangle"></i><span class="hidden-md-down"> Nicht gesetzt</span></span>{{/participants}}
																	<span class="label label-default pull-right"><i class="fa fa-exclamation" aria-hidden="true"></i><span class="hidden-md-down"> Zwingend</span></span>
																</span>
															</div>
														</div>
														<div class="panel-body">
																{{#participants}}<p> Zur Prüfung sind {{participants}} Teilnehmer angemeldet.</p>{{/participants}}
																{{^participants}}<p> Es wurden noch keine Teilnehmer zur Prüfung hinzugefügt.</p>{{/participants}}
														</div>
														<div class="panel-footer">
															<a class="btn btn-info" href="addParticipants.php?id={{cmid}}">Teilnehmer hinzufügen</a>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="panel {{#taskcount}}panel-success{{/taskcount}}{{^taskcount}}panel-warning{{/taskcount}}">
														<div class="panel-heading">
															<div class="row">
																<h3 class="panel-title col-md-8">Prüfungsaufgaben</h3>
																<span class="statebar col-md-4">
																	{{#taskcount}}<span class="label label-success pull-right"><i class="fa fa-check-circle" aria-hidden="true"></i><span class="hidden-md-down"> Erfolgreich</span></span>{{/taskcount}}
																	{{^taskcount}}<span class="label label-warning pull-right"><i class="fa fa-exclamation-triangle"></i><span class="hidden-md-down"> Nicht gesetzt</span></span>{{/taskcount}}
																	<span class="label label-default pull-right"><i class="fa fa-circle-o" aria-hidden="true"></i><span class="hidden-md-down"> Optional</span></span>
																</span>
															</div>
														</div>
														<div class="panel-body">
															{{#taskcount}}<p> Es wurden bereits <strong> {{taskcount}} Prüfungsaufgaben </strong> mit insgesamt <strong>{{tasktotalpoints}} Punkten </strong> angelegt.</p>{{/taskcount}}
															{{^taskcount}}<p> Es wurden noch keine Aufgaben konfiguriert.</p>{{/taskcount}}
														</div>
														<div class="panel-footer">
															<a class="btn btn-info" href="configureTasks.php?id={{cmid}}">Aufgaben konfigurieren</a>
														</div>
													</div>
												</div>
											</div>
											<div class="row row-eq-height">
												<div class="col-md-6">
													<div class="panel {{#textfield}}panel-success{{/textfield}}{{^textfield}}panel-warning{{/textfield}}">
														<div class="panel-heading">
															<div class="row">
																<h3 class="panel-title col-md-8">Freitextfeld</h3>
																<span class="statebar col-md-4">
																	{{#textfield}}<span class="label label-success pull-right"><i class="fa fa-check-circle" aria-hidden="true"></i><span class="hidden-md-down"> Erfolgreich</span></span>{{/textfield}}
																	{{^textfield}}<span class="label label-warning pull-right"><i class="fa fa-exclamation-triangle"></i><span class="hidden-md-down"> Nicht gesetzt</span></span>{{/textfield}}
																	<span class="label label-default pull-right"><i class="fa fa-circle-o" aria-hidden="true"></i><span class="hidden-md-down"> Optional</span></span>
																</span>
															</div>
														</div>
														<div class="panel-body">
																{{#textfield}}<p> Im Textfeld steht folgender Inhalt: {{textfield}}</p>{{/textfield}}
																{{^textfield}}<p> Es wurde noch kein Inhalt für das Textfeld eingetragen.</p>{{/textfield}}
														</div>
														<div class="panel-footer">
															<a class="btn btn-info" href="textfield.php?id={{cmid}}">Freitextfeld bearbeiten</a>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="panel panel-info">
														<div class="panel-heading">
															<div class="row">
																<h3 class="panel-title col-md-8">Nachricht an Teilnehmer</h3>
																<span class="statebar col-md-4">
																	<span class="label label-default pull-right"><i class="fa fa-circle-o" aria-hidden="true"></i><span class="hidden-md-down"> Optional</span></span>
																</span>
															</div>
														</div>
														<div class="panel-body">
															<p>Hier können Nachrichten (PANDA Mitteilungen) an alle zur Prüfung hinzugefügten Teilnehmer versendet werden.</p>
														</div>
														<div class="panel-footer">
															<a class="btn btn-info" href="groupmessages.php?id={{cmid}}">Nachricht an Teilnehmer schreiben</a>
														</div>
													</div>
												</div>
											</div>
                    </div>
                </div>
            </div>
          </li>
          {{!for_exam}}
          <li class="item" id="forexam">
            {{#secondphasecompleted}}<i class="fa fa-check text-success" aria-hidden="true"></i>{{/secondphasecompleted}}
            {{^secondphasecompleted}}<i class="fa fa-fw" aria-hidden="true"></i>{{/secondphasecompleted}}
						<div class="panel panel-primary mainpanel">
              <div class="panel-heading">
                	<a type="button" data-toggle="collapse" data-target=".phase_two" aria-expanded="false" aria-controls="phase_two">
			                <div class="row">
														<h4 class="col-xs-11">{{#str}}phase_two, mod_exammanagement{{/str}}</h4>
			                      <span class="col-xs-1 close" data-toggle="tooltip" title="Phase öffnen / schließen" aria-label="Maximieren und Minimieren"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
			                </div>
									</a>
							</div>
                {{#secondphasecompleted}}<div class="collapse phase_two">{{/secondphasecompleted}}
                {{#firstphasecompleted}}{{^secondphasecompleted}}<div class="collapse.show phase_two">{{/secondphasecompleted}}{{/firstphasecompleted}}
                {{^firstphasecompleted}}{{^secondphasecompleted}}<div class="collapse phase_two">{{/secondphasecompleted}}{{/firstphasecompleted}}
                    <div class="panel-body">
                    <div class="row row-eq-height">
                        <div class="card col-md-6">
                          <div class="card-body">
                            <div class="card-header m-b-1">
                              <i class="fa fa-refresh" aria-hidden="true"></i> <a href="assignPlaces.php?id={{cmid}}">Sitzplätze automatisch zuweisen</a>
                            </div>
                            <div class="card-text">
                              {{#stateofplacescorrect}}<p><i class="fa fa-lg fa-check-circle text-success" aria-hidden="true"></i> Die Sitzplätze wurden erfolgreich zugewiesen.</p>{{/stateofplacescorrect}}
                              {{#stateofplaceserror}}<p><i class="fa fa-lg fa-exclamation-triangle text-warning"></i> Bei der letzten Sitzplatzzuweisung ist ein Fehler aufgetreten. Bitte Vorgang wiederholen.</p>{{/stateofplaceserror}}
                              {{^stateofplacescorrect}}{{^stateofplaceserror}}<p><i class="fa fa-lg fa-exclamation-triangle text-warning"></i> Es wurden noch keine Sitzplätze zugewiesen.</p>{{/stateofplaceserror}}{{/stateofplacescorrect}}
                            </div>
                          </div>
                        </div>
                        <div class="card col-md-6">
                          <div class="card-body">
                            <div class="card-header m-b-1">
                              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a>Sitzplan exportieren (optional)</a> <i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                            </div>
                            <div class="card-text">
                              <p>Hier kann der Sitzplan als PDF-Dokument exportiert werden.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                      <div class="card col-md-6">
                          <div class="card-body">
                            <div class="card-header m-b-1">
                              <label class="exammanagement-switch" title="Informationen sichtbar schalten"><input type="checkbox" name="datetimevisible" value="1" onclick="ajaxtoogleInformation('datetime', jQuery(this).prop('checked')); return true" {{#datetimevisible}}checked {{/datetimevisible}}><span class="exammanagement-slider round"></span></label>
                              <span class="exammanagement-showInformationText"> Datum und Zeit für Teilnehmer sichtbar schalten (optional)</span>
                            </div>
                            <div class="card-text">
                              {{#datetimevisible}}
																	<p class="datetimeVisible collapse.show">Die Informationen wurden für die Teilnehmer sichtbar geschaltet.</p>
																	<p class="datetimeNotVisible collapse">Die Informationen wurden noch nicht für die Teilnehmer sichtbar geschaltet.</p>
															{{/datetimevisible}}
                              {{^datetimevisible}}
																	<p class="datetimeVisible collapse">Die Informationen wurden für die Teilnehmer sichtbar geschaltet.</p>
																	<p class="datetimeNotVisible collapse.show">Die Informationen wurden noch nicht für die Teilnehmer sichtbar geschaltet.</p>
															{{/datetimevisible}}
                            </div>
                          </div>
                      </div>
                      <div class="card col-md-6">
                        <div class="card-body">
                          <div class="card-header m-b-1">
                            <i class="fa fa-barcode" aria-hidden="true"></i> <a>Prüfungsetiketten exportieren (optional)</a> <i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                          </div>
                          <div class="card-text">
                            <p>Hier können Prüfungsetiketten als Barcodes exportiert werden.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row row-eq-height">
                      <div class="card col-md-6">
                          <div class="card-body">
                            <div class="card-header m-b-1">
                              <span class="exammanagement-showInformationText"> Räume und Sitzplätze für Teilnehmer sichtbar schalten (optional)</span>
                            </div>
                            <div class="card-text">
															<div>
																<label class="exammanagement-switch" title="Informationen sichtbar schalten"><input type="checkbox" name="roomvisible" value="1" onclick="ajaxtoogleInformation('room', jQuery(this).prop('checked')); return true"  {{#roomvisible}}checked {{/roomvisible}}><span class="exammanagement-slider round"></span></label>
																{{#roomvisible}}
																		<p class="exammanagement-showInformationText roomVisible collapse.show">Die Informationen zum Raum wurden für die Teilnehmer sichtbar geschaltet.</p>
																		<p class="exammanagement-showInformationText roomNotVisible collapse">Die Informationen zum Raum wurden noch nicht für die Teilnehmer sichtbar geschaltet.</p>
																{{/roomvisible}}
	                              {{^roomvisible}}
																		<p class="exammanagement-showInformationText roomNotVisible collapse.show">Die Informationen zum Raum wurden noch nicht für die Teilnehmer sichtbar geschaltet.</p>
																		<p class="exammanagement-showInformationText roomVisible collapse">Die Informationen zum Raum wurden für die Teilnehmer sichtbar geschaltet.</p>
																{{/roomvisible}}
															</div>
															<div>
																<label class="exammanagement-switch" title="Informationen sichtbar schalten"><input type="checkbox" name="placevisible" value="1" onclick="ajaxtoogleInformation('place', jQuery(this).prop('checked')); return true"  {{#placevisible}}checked {{/placevisible}}><span class="exammanagement-slider round"></span></label>
																{{#placevisible}}
																		<p class="exammanagement-showInformationText placeVisible collapse.show">Die Informationen zu Sitzplatz wurden für die Teilnehmer sichtbar geschaltet.</p>
																		<p class="exammanagement-showInformationText placeNotVisible collapse">Die Informationen zu Sitzplatz wurden noch nicht für die Teilnehmer sichtbar geschaltet.</p>
																{{/placevisible}}
																{{^placevisible}}
																		<p class="exammanagement-showInformationText placeNotVisible collapse.show">Die Informationen zu Sitzplatz wurden noch nicht für die Teilnehmer sichtbar geschaltet.</p>
																		<p class="exammanagement-showInformationText placeVisible collapse">Die Informationen zu Sitzplatz wurden für die Teilnehmer sichtbar geschaltet.</p>
																{{/placevisible}}
															</div>
														</div>
                          </div>
                      </div>
                      <div class="card col-md-6">
                          <div class="card-body">
                            <div class="card-header m-b-1">
                              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Teilnehmerlisten exportieren (optional)
                            </div>
                            <div class="card-text">
                              <p>Hier können Teilnehmerlisten nach Name oder nach Sitzplatz sortiert als PDF-Dokument exportiert werden.</p>
                            </div>
                            <div class="card-footer">
                              <div class="row"><a href="exportParticipantsListNames.php?id={{cmid}}" class="btn btn-info col-sm-4">Name</a><p class=col-sm-4></p><a href="exportParticipantsListPlaces.php?id={{cmid}}" class="btn btn-info col-sm-4">Sitzplatz</a></div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </li>
          {{!exam}}
          <li class="item">
            <i class="fa fa-fw" aria-hidden="true"></i>
						<div class="panel panel-primary mainpanel">
              <div class="panel-heading">
								<h4>{{#str}}exam_appointment, mod_exammanagement{{/str}}:</h4>
							</div>
              <div class="panel-body">
                  {{#hrexamtime}} <i class="fa fa-calendar" aria-hidden="true"></i> {{hrexamtime}} <i class="fa fa-clock-o" aria-hidden="true"></i> {{/hrexamtime}}
                  {{#hrexamtime}}{{#roomnames}} | {{/roomnames}}{{/hrexamtime}}
                  {{#roomnames}} <i class="fa fa-building-o" aria-hidden="true"></i> {{roomnames}} {{/roomnames}}
                  {{^hrexamtime}}{{^roomnames}}<p class="card-title">Noch kein Prüfungstermin gesetzt.</p>{{/roomnames}}{{/hrexamtime}}
              </div>
            </div>
          </li>
          {{!after_grading}}
          <li class="item" id="aftercorrection">
            {{#thirdphasecompleted}}<i class="fa fa-check text-success" aria-hidden="true"></i>{{/thirdphasecompleted}}
            {{^thirdphasecompleted}}<i class="fa fa-fw" aria-hidden="true"></i>{{/thirdphasecompleted}}
						<div class="panel panel-primary mainpanel">
              <div class="panel-heading">
								<a type="button" data-toggle="collapse" data-target=".phase_three" aria-expanded="false" aria-controls="phase_three">
		                <div class="row">
												<h4 class="card-title col-xs-11">{{#str}}phase_three, mod_exammanagement{{/str}}</h4>
		                     <span class="col-xs-1 close" data-toggle="tooltip" title="Phase öffnen / schließen" aria-label="Maximieren und Minimieren"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
		                </div>
								</a>
							</div>
                {{#thirdphasecompleted}}<div class="collapse.show phase_three">{{/thirdphasecompleted}}
                {{^thirdphasecompleted}}<div class="collapse phase_three">{{/thirdphasecompleted}}
                  <div class="panel-body">
                    <div class="row row-eq-height">
                        <div class="card col-md-6">
                          <div class="card-body">
                            <div class="card-header m-b-1">
                              <i class="fa fa-plus" aria-hidden="true"></i> <a>Bonuspunkte importieren</a> <i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                            </div>
                            <div class="card-text">
                              <p><i class="fa fa-lg fa-exclamation-triangle text-warning"></i> Es wurden noch keine Bonuspunkte importiert.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card col-md-6">
                          <div class="card-body">
                            <div class="card-header m-b-1">
                              <i class="fa fa-key" aria-hidden="true"></i> <a>Notenschlüßel konfigurieren</a> <i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                            </div>
                            <div class="card-text">
                              <p><i class="fa fa-lg fa-exclamation-triangle text-warning"></i> Es wurde noch kein Notenschlüßel konfiguriert.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="card col-md-6">
                          <div class="card-body">
                            <div class="card-header m-b-1">
                              <i class="fa fa-pencil" aria-hidden="true"></i> <a>Prüfungsergebnisse eingeben</a><i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                            </div>
                            <div class="card-text">
                              <p><i class="fa fa-lg fa-exclamation-triangle text-warning"></i> Es wurden noch keine Prüfungsergebnisse eingetragen.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card col-md-6">
                          <div class="card-body">
                            <div class="card-header m-b-1">
                              <i class="fa fa-binoculars" aria-hidden="true"></i> <a>Eingegebene Ergebnisse prüfen (optional)</a><i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                            </div>
                            <div class="card-text">
                              <p> Hier können bereits eingegebene Prüfungsergebnisse geprüft sowie verändert werden.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </li>
          {{!after_exam}}
          <li class="item" id="afterexam">
            {{#fourthphasecompleted}}<i class="fa fa-check text-success" aria-hidden="true"></i>{{/fourthphasecompleted}}
            {{^fourthphasecompleted}}<i class="fa fa-fw" aria-hidden="true"></i>{{/fourthphasecompleted}}
						<div class="panel panel-primary mainpanel">
              <div class="panel-heading">
								<a type="button" data-toggle="collapse" data-target=".phase_four" aria-expanded="false" aria-controls="phase_four">
		                <div class="row">
													<h4 class="card-title col-xs-11">{{#str}}phase_four, mod_exammanagement{{/str}}</h4>
		                      <span class="col-xs-1 close" data-toggle="tooltip" title="Phase öffnen / schließen" aria-label="Maximieren und Minimieren"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
		                </div>
								</a>
							</div>
                {{#fourthphasecompleted}}<div class="collapse.show phase_four">{{/fourthphasecompleted}}
                {{^fourthphasecompleted}}<div class="collapse phase_four">{{/fourthphasecompleted}}
                <div class="panel-body">
                  <div class="row row-eq-height">
                      <div class="card col-md-6">
                        <div class="card-body">
                          <div class="card-header m-b-1">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a>Punkte für Klausureinsicht als PDF exportieren</a><i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                          </div>
                          <div class="card-text">
                            <p>Hier können die erreichten Punkte als PDF-Dokument exportiert werden.</p>
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6">
                        <div class="card-body">
                          <div class="card-header m-b-1">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a>Ergebnisse mit Prozentangaben als PDF exportieren</a><i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                          </div>
                          <div class="card-text">
                            <p>Hier können die Ergenisse mit Prozentangaben als PDF-Dokument exportiert werden.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row row-eq-height">
                      <div class="card col-md-6">
                        <div class="card-body">
                          <div class="card-header m-b-1">
                            <i class="fa fa-download" aria-hidden="true"></i> Ergebnisse und Statistik exportieren <i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                          </div>
                          <div class="card-text">
                            <p>Hier können die Ergenisse und Statistiken als PDF- oder Excel-Dokument exportiert werden.</p>
                          </div>
                          <div class="card-footer">
                            <div class="row"><a class="btn btn-info col-sm-4"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a><p class=col-sm-4></p><a class="btn btn-info col-sm-4"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6">
                        <div class="card-body">
                          <div class="card-header m-b-1">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a>Ergebnisse für das Prüfungsamt exportieren</a> <i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                          </div>
                          <div class="card-text">
                            <p>Hier können die Ergebnisse für das Prüfungsamt als Excel- oder PAUL-Text-Dokument exportiert werden.</p>
                          </div>
                          <div class="card-footer">
                            <div class="row"><a class="btn btn-info col-sm-4"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a><p class=col-sm-4></p><a class="btn btn-info col-sm-4"><i class="fa fa-file-text-o" aria-hidden="true"></i> Text</a></div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row row-eq-height">
                      <div class="card col-md-6">
                        <div class="card-body">
                          <div class="card-text">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6">
                        <div class="card-body">
                          <div class="card-header m-b-1">
                            <i class="fa fa-trash" aria-hidden="true"></i> <a>Prüfungsdaten löschen</a><i class="fa fa-times text-error pull-right"> Befindet sich derzeit in der Entwicklung.</i>
                          </div>
                          <div class="card-text">
                            <p><i class="fa fa-check-circle text-danger" aria-hidden="true"></i> Hier können die Prüfungsdaten endgültig gelöscht werden.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="item">
            <i class="fa fa-flag" aria-hidden="true"></i>
          </li>
      </ul>
   </div>

	 <!-- <div class="row row-eq-height">
			 <div class="card col-md-6">
				 <div class="card-body">
					 <div class="card-header m-b-1">
						 <i class="fa fa-building-o" aria-hidden="true"></i> <a href="chooseRooms.php?id={{cmid}}">Räume auswählen</a>
					 </div>
					 <div class="card-text">
						 {{#rooms}}<p><i class="fa fa-lg fa-check-circle text-success" aria-hidden="true"></i> Räume: {{rooms}} <i class="fa fa-building-o" aria-hidden="true"></i></p>{{/rooms}}
						 {{^rooms}}<p><i class="fa fa-lg fa-exclamation-triangle text-warning"></i> Es wurden noch keine Räume für die Prüfung ausgewählt.</p>{{/rooms}}
					 </div>
				 </div>
			 </div>
			 <div class="card col-md-6">
				 <div class="card-body">
					 <div class="card-header m-b-1">
						 <i class="fa fa-calendar" aria-hidden="true"></i> <a href="set_date_time.php?id={{cmid}}">Datum und Zeit festlegen</a>
					 </div>
					 <div class="card-text m-l-1">
						 {{#hrexamtime}}<p><i class="fa fa-lg fa-check-circle text-success" aria-hidden="true"></i> <i class="fa fa-calendar" aria-hidden="true"></i> {{hrexamtime}}aaaaaaaaaaaaaaaaasdjaoiöhaoöchaöoscihaöcaicöahcöiochaocgaaaaaaaaaaaaaaaaaaaaaaaaiaaaaaaaaaaaaaasdjaoiöhaoöchaöoscihaöcaicöahcöiochaocgaaaaaaaaaaaaaaaaaaaaaaaaiaaaaaaaaaaaaaasdjaoiöhaoöchaöoscihaöcaicöahcöiochaocgaaaaaaaaaaaaaaaaaaaaaaaai aaaaaaaaaaasdjaoiöhaoöchaöoscihaöcaicöahcöiochaocgaaaaaaaaaaaaaaaaaaaaaaaai <i class="fa fa-clock-o" aria-hidden="true"></i></p>{{/hrexamtime}}
						 {{^hrexamtime}}<p><i class="fa fa-lg fa-exclamation-triangle text-warning"></i> Es wurden noch kein Datum und keine Uhrzeit für die Prüfung festgelegt.</p>{{/hrexamtime}}
					 </div>
				 </div>
			 </div>
	 </div>
	 <div class="page-header">
        <h2>Timeline <small>using Bootstrap's <code>.panel</code>.</small></h2>
    </div> -->
    <!-- /Page header -->

    <!-- Timeline -->
     <div class="exammanagement-summary hidden-sm-up">

        <!-- Panel -->
        <article class="panel panel-primary">

            <!-- Icon -->
            <!-- <div class="panel-heading icon">
                <i class="glyphicon glyphicon-plus"></i>
            </div> -->
            <!-- /Icon -->

            <!-- Heading -->
            <div class="panel-heading">
                <h2 class="panel-title">New content added</h2>
            </div>
            <!-- /Heading -->

            <!-- Body -->
            <!-- <div class="panel-body">
                Some new content has been added.
            </div> -->
            <!-- /Body -->

            <!-- Footer -->
            <!-- <div class="panel-footer">
                <small>Footer is also supported!</small>
            </div> -->
            <!-- /Footer -->

        </article>
        <!-- /Panel -->

        <!-- /Panel -->

     </div>
		 <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
		   <div class="card-header">Header</div>
		   <div class="card-body">
		     <h5 class="card-title">Secondary card title</h5>
		     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		   </div>
		 </div>

<form autocomplete="off" action="http://panda33.uni-paderborn.de.vm/mod/exammanagement/configureTasks.php" method="post" accept-charset="utf-8" id="mform1" class="mform">
	<div style="display: none;"><input name="id" value="148" type="hidden">
<input name="sesskey" value="vqdzJati6Z" type="hidden">
<input name="_qf__mod_exammanagement_forms_configureTasksForm" value="1" type="hidden">
</div>

<div class="alert alert-info alert-dismissible fade in" role="alert"><div class="helptextbox"><div class="helptextboxcontent"><div class="row"><h4 class="alert-heading col-xs-11">Hilfetext</h4><button type="button" class="close col-xs-1" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div><p>Hier können Aufgaben gesetzt werden ...</p><hr><p class="mb-0">Eine ausführliche Erläuterung der genannten Elemente und Funktionen findet sich im "IMT HilfeWiki" unter dem folgenden Link: <a href="https://hilfe.uni-paderborn.de/PANDA" class="alert-link" target="_blank">https://hilfe.uni-paderborn.de/PANDA</a></p><p class="read-more"><a href="#" onclick="return showMore()" class="button">Mehr lesen</a></p></div></div></div><script>
showMore = function() {

			helptextboxcontent = jQuery.find('.helptextboxcontent');
			helptextboxcontentheight = jQuery(helptextboxcontent).outerHeight();

			helptextbox = jQuery.find('.helptextbox');
			jQuery(helptextbox).css({
			      "height": jQuery(helptextbox).height(),
			      "max-height": 9999
			    })
			    .animate({
			      "height": helptextboxcontentheight
			    });


			readMore = jQuery.find('.read-more');
			jQuery(readMore).fadeOut();
			return false;	    
		};
</script><h3>Aufgaben konfigurieren</h3><p>Hier können die Aufgaben der Prüfung konfiguriert werden.</p><div class="form-group row  fitem  ">
    <div class="col-md-3">
        <span class="pull-xs-right text-nowrap">



        </span>
        <label class="col-form-label d-inline " for="fgroup_id_tasks_buttonarray">
            Aufgaben hinzufügen oder entfernen:
        </label>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="group">

            <div class="form-group  fitem  ">
    <label class="col-form-label " for="id_add_task">



    </label>
    <span data-fieldtype="button">
            <button class="btn btn-secondary" name="add_task" id="id_add_task" type="button" onclick="addtask(); return true;">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
    </span>
    <div class="form-control-feedback" id="id_error_add_task" style="display: none;">

    </div>
</div>

            <div class="form-group  fitem  ">
    <label class="col-form-label " for="id_remove_task">



    </label>
    <span data-fieldtype="button">
            <button class="btn btn-secondary" name="remove_task" id="id_remove_task" type="button" onclick="removetask(); return true;">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
    </span>
    <div class="form-control-feedback" id="id_error_remove_task" style="display: none;">

    </div>
</div>
        <div class="form-control-feedback" id="id_error_" style="display: none;">

        </div>
    </div>
</div><div class="form-group row  fitem  ">
    <div class="col-md-3">
        <span class="pull-xs-right text-nowrap">



        </span>
        <label class="col-form-label d-inline " for="fgroup_id_tasknumbers_array">
            Aufgabe
        </label>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="group">

            <span class="task_spacing">1</span>
        <div class="form-control-feedback" id="id_error_" style="display: none;">

        </div>
    </div>
</div><div class="form-group row  fitem  ">
    <div class="col-md-3">
        <span class="pull-xs-right text-nowrap">



        </span>
        <label class="col-form-label d-inline " for="fgroup_id_tasks_array">
            Punkte
        </label>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="group">

            <div class="form-group  fitem  ">
    <label class="col-form-label sr-only" for="id_task_1">



    </label>
    <span data-fieldtype="text">
    <input class="form-control " name="task[1]" id="id_task_1" value="0" size="1" type="text">
    </span>
    <div class="form-control-feedback" id="id_error_task[1]" style="display: none;">

    </div>
</div>
        <div class="form-control-feedback" id="id_error_" style="display: none;">

        </div>
    </div>
</div>		<div class="row"><strong><span class="col-md-3">Summe:</span><span class="col-md-9" id="totalpoints">0</span></strong></div>
<div class="form-group row  fitem  ">
    <div class="col-md-3">
        <span class="pull-xs-right text-nowrap">



        </span>
        <label class="col-form-label d-inline " for="fgroup_id_buttonar">

        </label>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="group">

            <div class="form-group  fitem  ">
    <label class="col-form-label " for="id_submitbutton">



    </label>
    <span data-fieldtype="submit">
        <input class="btn
                    btn-primary

                    " name="submitbutton" id="id_submitbutton" value="Änderungen speichern" type="submit">
    </span>
    <div class="form-control-feedback" id="id_error_submitbutton" style="display: none;">

    </div>
</div>

            <div class="form-group  fitem   btn-cancel">
    <label class="col-form-label " for="id_cancel">



    </label>
    <span data-fieldtype="submit">
        <input class="btn

                    btn-secondary
                    " name="cancel" id="id_cancel" value="Abbrechen" onclick="skipClientValidation = true; return true;" type="submit">
    </span>
    <div class="form-control-feedback" id="id_error_cancel" style="display: none;">

    </div>
</div>
        <div class="form-control-feedback" id="id_error_" style="display: none;">

        </div>
    </div>
</div>
</form>
